{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="col-md-6">
    <form action="" class="form-inline" method="GET">
      <div class="form-group">
        <label class="sr-only" for="q">Keywords</label>
        <input class="form-control" name="q" placeholder="Keywords" type="text" />
      </div>
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">Filters</div>
      <div class="panel-body">
        <form action="" method="GET">
          <div class="form-group">
            <label for="author">Author</label>
            <input class="form-control" name="author" type="text" />
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-9">
  </div>
</div>
{% endblock %}
